@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
}

/* colour scheme
3d5a80 - dusk blue
98c1d9 - powder blue
e0fbfc - light cyan
ee6c4d - burnt peach
293241 - jet black
afa98d - khaki beige
639fab - pacific blue
0a8754 - sea green
004f2d - dark spruce
ffc857 - golden pollen */
